body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.clock-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
}

.date {
    font-size: 1.5rem; /* Größe des Datums */
    margin-bottom: 10px; 
}

.time {
    font-size: 2.5rem; /* Größe der Uhrzeit */
    font-weight: bold;
}

.color-icon {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Schriftgröße für das Icon */
    cursor: pointer;
    margin-top: 20px;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: #666; /* Farbe der Punkte */
    border-radius: 50%; /* Macht die Punkte rund */
    margin: 0 3px; /* Abstand zwischen den Punkten */
}

.color-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 80%; /* Verschiebt das Menü weiter nach links */
    transform: translateY(-50%);
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000; /* Sicherstellen, dass das Menü immer oben angezeigt wird */
}

.color-menu h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.color-menu input[type="color"] {
    margin: 5px 0;
}
